<!DOCTYPE html>
<html>
<head>

<title>{% block title %}{% endblock %} - PyLinden</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="PyLinden">
<meta name="author" content="Tao">

<link href="/static/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
{% block head_append %}{% endblock %}
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PyLinden</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">首页</a></li>
        <li><a href="/posts.html">日志</a></li>
        <li><a href="/gallery.html">相册</a></li>
        <li><a href="/about.html">关于</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

{% block content %}{% endblock %}

<div class="footer">

Author：<a href="http://taoxiaolei.cn">Tao Xiaolei</a>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F088c99999d35a9495012f953489c64d4' type='text/javascript'%3E%3C/script%3E"));
</script>

</div>

<!-- javascript -->
<script src="/static/jquery-1.10.2.min.js"></script>
<script src="/static/bootstrap3/js/bootstrap.min.js"></script>
{% block body_append %}{% endblock %}

<body>
</html>
