{% extends "_base.html" %} 
{% block title %}文档{% endblock %} 
{% block head_append %}
<link href="/static/docs.css" rel="stylesheet">
{% endblock %}
{% block content %} 

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav bs-sidenav">
            <li><a href="#whatispylinden">PyLinden是什么？</a></li>
            <li><a href="#files">文件结构</a></li>
            <li><a href="#BAE">[BAE部署] vs [本地部署]</a></li>
            <li><a href="#use">使用指南</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-9" role="main">

      <div class="bs-docs-section">
        <h1 id="whatispylinden">PyLinden是什么？</h1>
        <p class="lead">PyLinden是Python实现的一个静态博客生成器。</p>
        <ul>
          <li>源于对Github Pages的些许不满意（国外服务商，没有相册功能），以及对python的喜爱。</li>
          <li>可以轻松部署于BAE（Baidu App Engine），实践云式网络生活方式。</li>
          <li>仅使用文件系统，摒弃数据库以及BAE的bucket等存储服务。如果要迁移，也几乎只是拷贝文件而已。</li>
          <li>支持（且仅支持）markdown格式书写日志，如果不清楚markdown的优点请度娘谷哥之。</li>
          <li>支持代码着色（pygments），兼容Github Pages方式。具体看"日志"里的"代码着色"。</li>
          <li>基于简单够用的设计哲学构建。在没有大的思想波动的前提下，仅会实现日志与相册两块。</li>
        </ul>
      </div>

      <div class="bs-docs-section">
        <h1 id="files">文件结构</h1>
        <ul>
          <li>admin文件夹：包含BAE部署时Web方式的后台实现。</li>
          <li>pygments文件夹：著名的代码高亮项目，BAE自带的有问题。</li>
          <li>pylinden文件夹：本项目主要代码。</li>
          <li>site_source文件夹：供生成站点的原料，你可以修改成自己的风格。</li>
          <li>app.conf：BAE部署配置文件。</li>
          <li>local_run.py：本地部署测试脚本。</li>
          <li>pylinden.wpr和pylinden.wpu：WING IDE项目文件。</li>
        </ul>
      </div>

      <div class="bs-docs-section">
        <h1 id="BAE">[BAE部署] vs [本地部署]</h1>
        <p> 
          推荐BAE部署。假定你了解BAE环境，概要步骤如下。
        </p> 
        <ul>
          <li>新建Web应用，python后台。</li>
          <li>创建新版本，上传程序包(程序包应是直接包含admin、pylinden、site_source等内容的zip格式压缩包)。</li>
          <li>开启NFS功能，上线（非必要，不过可以使url好看点）。</li>
          <li>“编辑”：site_source/_posts目录下新建日志即可，格式参考此目录下的示例。</li>
          <li>假设你的应用url为example.duapp.com，访问example.duapp.com/admin，点击“生成”。</li>
          <li>访问example.duapp.com。</li>
        </ul>
        <p> 
          不推荐本地部署，但提供以下一些提示。
        </p>
        <ul>
          <li>python：版本2.7</li>
          <li>pygment：代码高亮</li>
          <li>yaml：yaml格式解析</li>
          <li>markdown：markdown格式</li>
          <li>jinja2：模板引擎</li>
        </ul>
      </div>

      <div class="bs-docs-section">
        <h1 id="use">使用指南</h1>
        <h3>[在线编辑] vs [git或者svn]</h3>
        <p> 
          BAE有比较方便的在线编辑器，也支持git和svn。在自己的常用电脑上必然是优选git或者svn；在任何地方想写点东西时，打开浏览器登录BAE来写日志也方便至极。
        </p> 
        <h3>文件编码的问题</h3>
        <p> 
          与Github Pages相同，所有的文本文件请全部使用utf-8 without BOM格式保存。
        </p> 
        <p> 
          PS: Windows XP自带的记事本无法保存成这种格式的！
        </p> 
        <h3>site_source文件结构说明</h3>
        <p> 
          此文件夹包含了最终被生成的静态博客的原料，是部署完成后使用最频繁的文件夹。 
        </p> 
        <p>以[下划线]或者[点]开头的文件夹和文件是：特殊文件夹和文件、隐藏文件夹和文件。</p>
        <ul>
          <li>_posts文件夹：此文件夹包含了以markdown格式书写的日志文件。有类似Github Pages一样的文件头；文件后缀不要求.md或者.markdown。</li>
          <li>_gallery文件夹：此文件夹包含了生成相册的原料。</li>
          <li>_base.html文件：全站页面的基本模板(jinja2模板引擎)，方便使所有页面基本布局同意。</li>
          <li>_post.html文件：日志页面模板(jinja2模板引擎)。</li>
        </ul>
        <h3>模板修改提示</h3>
        <p> 
          jinja2是所使用的模板引擎，它很方便和简洁。想了解基本的jinja2使用方法的请花几分钟google之，亦或可以直接修改原有的文件（site_source文件夹下的html后缀的文件并非是纯HTML文件）。
        </p> 
        <p> 
          本静态博客生成器主要提供了两个相关变量供jinja2模板调用：
        </p> 
        <ul>
          <li>site：此变量包含了博客生成过程中的所有内容。</li>
          <ul>
            <li>site.pages: 一些页面，如index.html、about.html等。</li>
              <ul>
                <li>site.pages.html: 最终的HTML格式的内容。</li>
              </ul>
            <li>site.posts: 所有的日志。</li>
              <ul>
                <li>site.post[i].title: 标题。</li>
                <li>site.post[i].date: 日期。</li>
                <li>site.post[i].tags: 标签。</li>
              </ul>
            <li>site.tags: 所有日志的标签的集合。</li>
          </ul>
          <li>post：此变量只有在_post.html模板中才可用，包含了此篇日志的相关内容。</li>
          <ul>
            <li>参考上面的site.posts[i]。</li>
          </ul>
        </ul>
      </div>


    </div><!--col-md-9-->
  </div><!--row-->
</div><!--container-->
{% endblock %} 

{% block body_append %}
<script src="/static/docs.js"></script>
{% endblock %}