{% extends "_base.html" %} 
{% block title %}首页{% endblock %} 
{% block content %} 

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container text-center">
    <h1>PyLinden</h1>
    <p>PyLinden是Python实现的一个静态博客生成系统。纯文件储存，增量生成，Github Pages兼容。。。</p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://github.com/lingyunyumo/PyLinden">马上获取(Github)</a>
      <a class="btn btn-primary btn-lg" href="/document.html">查看文档</a>
    </p>
  </div>
</div>

<div class="container">

    <h2>此站点便是PyLinden生成的一个静态博客实例。</h2> 

    <hr>

    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <!-- UY END -->

</div><!--container-->

<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1745270" async=""></script>
{% endblock %} 